body {
    font: 12px/1.5 "BlinkMacSystemFont", "-apple-system", "Microsoft YaHei UI", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
    background-color: #f6f6f6;
}

.content {
    width: 960px;
    margin: auto;
}

header {
    width: 100%;

    .content {
        height: 80px;
        display: flex;
        align-items: center;

        img {
            // margin-top: 15px;
            width: 100px;
            height: 50px;
        }

        span {
            border-left: 2px solid #dfdfdf;
            margin-left: 40px;
            padding-left: 40px;
            height: 36px;
            line-height: 36px;
            font-size: 24px;
            color: #c80f1e;
        }
    }
}

main {
    .mainbox {

        background: #fff url(../img/reg_bg.png) no-repeat right center;
        border: solid 8px #f0f0f0;
        min-height: 340px;
        margin-bottom: 20px;
        padding-bottom: 30px;

        .regTab {
            // cursor: pointer;
            font-size: 16px;
            color: #999;
            background: #eee;
            display: inline-block;
            font-family: 'Microsoft YaHei';
            overflow: hidden;

            span {
                cursor: pointer;
                float: left;
                display: block;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                border-right: solid 1px #ddd;
            }

            .active {
                border-top: solid 2px #c80f1e;
                font-size: 16px;
                color: #666;
                background: #fff;
            }
        }

        .login {
            float: right;
            margin: 10px 10px 0 0;
            text-shadow: 0 1px 0 #fff;

            a {
                background: #9c3;
                color: #fff;
                margin-left: 5px;
                padding: 2px;
                text-shadow: none;

                &:hover {
                    text-decoration: underline;
                }
            }

        }

        .reg dl {
            line-height: 30px;
            margin-top: 15px;
            min-height: 30px;

            dt {
                color: #999;
                float: left;
                height: 30px;
                line-height: 30px;
                text-align: right;
                width: 100px;

                i {
                    color: #f33;
                }
            }

            dd {
                margin-left: 110px;

                input[type=text],
                input[type=password] {
                    border: solid 1px #ccc;
                    border-radius: 2px;
                    box-shadow: inset 0 2px #f3f3f3;
                    height: 28px;
                    line-height: 28px\9;
                    text-indent: 5px;
                    width: 240px;
                }

                em {
                    color: #999;
                    margin-left: 10px;
                }

                #getCode1,
                #getCode2 {
                    margin-left: 10px;
                    border: 1px solid #dddddd;
                    padding: 0;
                    width: 106px;
                    height: 30px;
                    background: #f4f4f4;
                    margin-top: 0;
                    text-align: center;
                    line-height: 30px;
                    color: #333;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;

                    &:hover {
                        color: #c80f1e;
                        text-decoration: underline;
                    }
                }

                #mmprovision {
                    margin-right: 5px;
                    vertical-align: middle;
                }

                label {
                    color: #999;

                    a {
                        color: #39f;
                        margin: 0 5px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                button {
                    background: #c80f1e;
                    border: 0;
                    border-radius: 3px;
                    outline: none;
                    color: #fff;
                    cursor: pointer;
                    font-size: 14px;
                    height: 40px;
                    width: 160px;
                }
            }
        }

        .account {
            display: none;
        }


    }

}

footer {
    // margin-top: 30px;

    .foot-bottom {

        .bottom-list {
            height: 50px;
            display: flex;
            align-items: center;
            text-shadow: 0 1px 0 #fff;
            // text-align: center;
            justify-content: center;

            a {
                height: 12px;
                line-height: 11px;
                display: inline-block;
                color: #333;
                text-decoration: none;
                transition: color .1s;
                padding: 0 13px;
                border-right: 2px solid #ddd;

                &:hover {
                    text-decoration: underline;
                    color: #c80f1e;
                }
            }

            a:first-child {
                padding-left: 0;
            }

            a:last-child {
                border-right: none;
                padding-right: 0;
            }
        }

        .copy {
            padding-bottom: 15px;
            text-align: center;

            p {
                line-height: 25px;
                color: #999;
                text-shadow: 0 1px 0 #fff;

                a {
                    color: #333;
                    text-decoration: none;
                    transition: color .1s;

                    &:hover {
                        text-decoration: underline;
                        color: #c80f1e;
                    }
                }
            }
        }

        .bottom-link {
            text-align: center;
            height: 60px;

            a {
                display: inline-block;
                width: 130px;
                height: 50px;
                background: #fff;
                // background: url(../images/bot_link.jpg) no-repeat;
                border: solid 1px #eee;
                border-radius: 3px;
                margin: 0 5px;
                vertical-align: middle;

                &:nth-child(1) {
                    background-image: url(../img/link5.jpg);
                    // background-position: 0 -100px;
                }

                &:nth-child(3) {
                    background-image: url(../img/link5.jpg);
                    background-position: 0 -100px;
                }
            }


        }
    }
}